@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.top {
  font-family: 'NEXON Lv2 Gothic';
  display: block;
  width: 100%;
  max-width: 1550px;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 10%;
  clear: both;
}

.circle {
  z-index: 1;
  position:absolute;
  text-align: center;
    line-height: 50px;
    color: #FFF4F4;
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid #00A84D;
    border-radius: 50%;
    background-color: #00A84D;
    background-image: url('\Megaphone.png');
    background-position-y: 9px;
    background-position-x: 6px;
    background-size: 70%;
    background-repeat: no-repeat;
    margin-top: -2px;
}

.comonews {
  font-weight: 700;
  margin-top: -2px;
  position:absolute;
  text-align: center;
  font-size: 20px;
  color: #00A84D;
  line-height: 48px;
  float: none;
  border: 2px solid #00A84D;
  background-color: #CEFFE5;
  width: 300px;
  border-radius: 60px;
  padding-left: 20px;
  padding-top: 3px;
  box-shadow: 2px 2px 2px 2px rgb(216, 203, 203);
}

.line {
  position: absolute;
  width: 450px;
  border-right : 0.4vh solid #00A84D;
  height : 67px;
}

/* 라디오버튼 */
label {
  padding-right: 10px;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  left: 500px;
  color: #000;
  width: calc(100px - 20px);
  cursor: pointer;
}

span {
  position: relative;
  vertical-align: middle;
  padding-left: 5px;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: 2px solid #00A84D;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

[type="radio"]:checked {
  border: 6px solid #00A84D;
}

[type="radio"]:focus-visible {
  outline-offset: 2px;
  outline: 2px dotted #00A84D;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 2px lightgray;
  cursor: pointer;
}


.container {
  font-family: 'NEXON Lv2 Gothic';
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  flex-direction: column;
}

.news_list {
  border-collapse: separate;
  text-align: center;
  width: 100%;
  min-width: 970px;
  height: 100%;
  border-bottom: 5px solid #00A84D;
  margin-top: 30px;
}

.news_list th,
.news_list td {
  border-bottom: 1px dashed #00A84D;
  text-align: center;
}

.news_list th {
  height: 40px;
  color: #fff;
  background-color: #00A84D;}

.news_list td p {
  text-align: left;
  padding-left: 3%;
}

.news_list tr {
  line-height: 10px;
}

.news_list tr:hover {
  background-color: #CEFFE5;
}

.news_list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.page-buttons {
  width: 100%;
  min-width: 970px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.page-buttons button {
  width: 30px;
  height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.15s;
  margin-left: 10px;
  margin-right: 10px;
}

.page-buttons button:hover {
  background-color: #CEFFE5;
  color: #000;
  cursor: pointer;
}

.page-buttons .current {
  background-color: #00A84D;
  color: white;
  cursor: default;
}

.page-buttons span {
  display: block;
  font-size: 14px;
  color: black;
}

